{% extends "base.html" %}

{% block content %}
	<h2>Réservation de salle à l’ENS de Lyon</h2>

	<form name="reservation" method="POST" action="{{url_for('search')}}">

    <section id="left-content">
      <p>Je souhaite réserver une salle le <input type="text" name="date" class="datepicker" required> de <input class="timepicker" type="text" name="time_first" required> à <input class="timepicker" type="text" name="time_last" required></p>
      <p>sur le site <select name="site"><option value="descartes">Descartes</option><option value="monod">Monod</option></select>, au nom de <input type="text" placeholder="association/individu" required> pour<input type="text" placeholder="une réunion, un club…" required>.
    </p>
    </section>

    <section>
      <label>Récurrence</label>
      <div class="choice-bar">
        <input id="semaine" type="radio" name="recurrence" value="semaine" /><!--
        --><label for="semaine">Chaque semaine</label><!--
        --><input id="mois" type="radio" name="recurrence" value="mois" /><!--
        --><label for="mois">Chaque mois</label><!--
        --><input id="aucune" type="radio" name="recurrence" value="aucune" checked /><!--
        --><label for="aucune">Aucune</label>
      </div>
    </section>

    <section id="room-list">
    </section>

    <div class="panel">

  		<section class="dark-background">
  			<p>Je connais la salle : <input type="text" name="room_name"> <input type="submit" value="Réserver"></p>
  		</section>

      <section>
          <p>Je cherche une salle : </p>
          <p class="retrait">
            <label>Capacité </label>

            <div class="choice-bar dark">
              <input id="size20" type="checkbox" name="roomCapacity" value="<20" checked="checked"/><!--
              --><label for="size20">&lt;20</label><!--
              --><input id="size<50" type="checkbox" name="roomCapacity" value="20-50" /><label for="size<50">20-50</label><!--
              --><input id="size<100" type="checkbox" name="roomCapacity" value="50-100" /><!--
              --><label for="size<100">50-100</label><!--
              --><input id="size100" type="checkbox" name="roomCapacity" value=">100" /><!--
              --><label for="size100">&gt;100</label>
            </div>
            places.
          </p>
          <p class="retrait">
            <label>Type de salle</label>

            <div class="choice-bar dark">
              <input id="sizeInf" type="radio" name="roomType" value="Informatique" /><!--
              --><label for="sizeInf">Informatique</label><!--

              --><input id="sizeMus" type="radio" name="roomType" value="Musique" /><!--
              --><label for="sizeMus">Musique</label><!--

              --><input id="sizeRéu" type="radio" name="roomType" value="Réunion" /><!--
              --><label for="sizeRéu">Réunion</label><!--

              --><input id="sizeGrad" type="radio" name="roomType" value="Gradins" /><!--
              --><label for="sizeGrad">Gradins</label><!--

           	  --><input id="sizePlat" type="radio" name="roomType" value="Plate" checked = "checked"/><!--
              --><label for="sizePlat">Plate</label>
            </div>
          </p>

          <p class="retrait">
            <label>Equipement</label>

            <div class="choice-bar dark">
              <input id="vp" name="equipement" type="checkbox" value="projector"><label for="vp">Vidéoprojecteur</label><!--
              --><input id="cam" name="equipement" type="checkbox" value="camera"><label for="cam">Caméra</label><!--
              --><input id="enc" name="equipement" type="checkbox" value="speaker"><label for="enc">Enceintes</label>
            </div>
          </p>
          <p><input type="submit" class="dark" value="Réserver"></p>
      </section>

    </div>

    </form>

	</form>

{% endblock %}